.container.match {
    height: 100vh;
    box-sizing: border-box;
}

.match-selector {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.match-selector a {
    text-decoration: none;
    text-align: center;
    height: 50%;
    line-height: 50vh;
    font-size: 4rem;
}

.single-link {
    background-color: $blue;
    color: white;
}

.single-link:hover {
    background-color: darken($blue, 20%);
}

.double-link {
    background-color: $red;
    color: white;
}

.double-link:hover {
    background-color: darken($red, 20%);
}
